################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/DiffFinderTest/bin/Debug/net6.0
/DiffFinderTest/obj
